In [2]:
import numpy as np
import pandas as pd
# import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from sklearn.preprocessing import StandardScaler

In [2]:
data_set = pd.read_csv("dataset/qualifier.csv")
data_set.head()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,94,87,84,61,9,...,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,no,Database Administrator
1,78,62,73,60,71,70,73,84,91,12,...,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,yes,Project Manager
2,71,86,91,87,61,81,72,72,94,11,...,Travel,Work,no,stubborn,Management,work,hard worker,no,yes,Project Manager
3,76,87,60,84,89,73,62,88,69,7,...,Romance,Work,yes,gentle,Management,work,smart worker,yes,yes,Security Administrator
4,92,62,90,67,71,89,73,71,73,4,...,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,yes,Business Intelligence Analyst

##

####    Basic Data Pre-processing Begins Here
-   Checking Null
-   Dropping off non-relevant

In [3]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 39 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Acedamic percentage in Operating Systems  20000 non-null  int64
 1   percentage in Algorithms                  20000 non-null  int64
 2   Percentage in Programming Concepts        20000 non-null  int64
 3   Percentage in Software Engineering        20000 non-null  int64
 4   Percentage in Computer Networks           20000 non-null  int64
 5   Percentage in Electronics Subjects        20000 non-null  int64
 6   Percentage in Computer Architecture       20000 non-null  int64
 7   Percentage in Mathematics                 20000 non-null  int64
 8   Percentage in Communication skills        20000 non-null  int64
 9   Hours working per day                     20000 non-null  int64
 10  Logical quotient rating                   20000 non-null  int64
 11  hackathons                                20000 non-null  int64
 12  coding skills rating                      20000 non-null  int64
 13  public speaking points                    20000 non-null  int64
 14  can work long time before system?         20000 non-null  object
 15  self-learning capability?                 20000 non-null  object
 16  Extra-courses did                         20000 non-null  object
 17  certifications                            20000 non-null  object
 18  workshops                                 20000 non-null  object
 19  talenttests taken?                        20000 non-null  object
 20  olympiads                                 20000 non-null  object
 21  reading and writing skills                20000 non-null  object
 22  memory capability score                   20000 non-null  object
 23  Interested subjects                       20000 non-null  object
 24  interested career area                    20000 non-null  object
 25  Job/Higher Studies?                       20000 non-null  object
 26  Type of company want to settle in?        20000 non-null  object
 27  Taken inputs from seniors or elders       20000 non-null  object
 28  interested in games                       20000 non-null  object
 29  Interested Type of Books                  20000 non-null  object
 30  Salary Range Expected                     20000 non-null  object
 31  In a Realtionship?                        20000 non-null  object
 32  Gentle or Tuff behaviour?                 20000 non-null  object
 33  Management or Technical                   20000 non-null  object
 34  Salary/work                               20000 non-null  object
 35  hard/smart worker                         20000 non-null  object
 36  worked in teams ever?                     20000 non-null  object
 37  Introvert                                 20000 non-null  object
 38  Suggested Job Role                        20000 non-null  object
dtypes: int64(14), object(25)
memory usage: 6.0+ MB

In [6]:
data_set.isna().sum()

Acedamic percentage in Operating Systems    0
percentage in Algorithms                    0
Percentage in Programming Concepts          0
Percentage in Software Engineering          0
Percentage in Computer Networks             0
Percentage in Electronics Subjects          0
Percentage in Computer Architecture         0
Percentage in Mathematics                   0
Percentage in Communication skills          0
Hours working per day                       0
Logical quotient rating                     0
hackathons                                  0
coding skills rating                        0
public speaking points                      0
can work long time before system?           0
self-learning capability?                   0
Extra-courses did                           0
certifications                              0
workshops                                   0
talenttests taken?                          0
olympiads                                   0
reading and writing skills                  0
memory capability score                     0
Interested subjects                         0
interested career area                      0
Job/Higher Studies?                         0
Type of company want to settle in?          0
Taken inputs from seniors or elders         0
interested in games                         0
Interested Type of Books                    0
Salary Range Expected                       0
In a Realtionship?                          0
Gentle or Tuff behaviour?                   0
Management or Technical                     0
Salary/work                                 0
hard/smart worker                           0
worked in teams ever?                       0
Introvert                                   0
Suggested Job Role                          0
dtype: int64

In [7]:
be_used_ds = data_set.drop(["Percentage in Electronics Subjects", "Percentage in Computer Architecture", "Hours working per day", "Logical quotient rating", "coding skills rating", "public speaking points", "can work long time before system?", "Extra-courses did", "workshops", "talenttests taken?", "olympiads", "reading and writing skills", "memory capability score", "Interested subjects", "Job/Higher Studies?",  "Taken inputs from seniors or elders", "interested in games", "Interested Type of Books", "Salary Range Expected", "In a Realtionship?", "Gentle or Tuff behaviour?", "Salary/work", "hard/smart worker"], axis=1)
be_used_ds

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Mathematics,Percentage in Communication skills,hackathons,self-learning capability?,certifications,interested career area,Type of company want to settle in?,Management or Technical,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,84,61,0,yes,shell programming,system developer,Web Services,Management,yes,no,Database Administrator
1,78,62,73,60,71,84,91,1,no,machine learning,Business process analyst,SAaS services,Technical,no,yes,Project Manager
2,71,86,91,87,61,72,94,4,no,app development,developer,Sales and Marketing,Management,no,yes,Project Manager
3,76,87,60,84,89,88,69,1,yes,python,testing,Testing and Maintainance Services,Management,yes,yes,Security Administrator
4,92,62,90,67,71,71,73,4,no,app development,testing,product development,Management,yes,yes,Business Intelligence Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,83,67,62,63,81,84,69,6,no,app development,system developer,Testing and Maintainance Services,Management,yes,no,Software Developer
19996,80,69,83,87,82,92,67,0,no,full stack,Business process analyst,Product based,Management,no,yes,Business Intelligence Analyst
19997,83,70,80,87,64,94,88,6,yes,information security,cloud computing,SAaS services,Technical,no,yes,Business Intelligence Analyst
19998,68,87,91,88,66,87,61,4,no,full stack,testing,Cloud Services,Management,yes,no,Project Manager
19999,73,77,74,84,70,73,90,1,yes,app development,testing,Finance,Management,yes,no,Software Developer

####    Advance Processing and Basic Modelling Begins Here

In [10]:
train_set = be_used_ds.sample(frac=0.80)
test_set = be_used_ds.drop(train_set.index)
print(train_set.shape, test_set.shape)

(16000, 16) (4000, 16)

In [23]:
 # Train Splitting
X_train = train_set.iloc[:,:90]
Y_train = train_set.iloc[:,90:]

# Test Area Splitting
X_test  = test_set.iloc[:,:90]
Y_test  = test_set.iloc[:,90:]

In [1]:
# plt.plot(X_train, Y_train, 'ro')
# plt.show()
# plt.plot(X_test, Y_test, 'b')
# plt.show()